.top-loading-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: transparent;
    z-index: 1000; /* Make sure the loading bar is on top of other content */
  }
  
  .top-loading-bar {
    height: 100%;
    background-color: #3498db; /* Color of the loading bar */
    transition: width 0.3s ease; /* Smooth transition effect */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .top-loading-bar.visible {
    width: 50%; /* Width of the loading bar when hovered */
  }
  